<!-- Post Create Box  ================================================= -->
<div class="create-post">
    <div class="row">
        {{ form_start(formPost, {'method': 'post', 'action': path('app_account_addpost'), 'attr': {'class': 'form-inline'}}) }}



        <div class="col-md-7 col-sm-7">
            <div class="form-group">
                <img src="http://placehold.it/300x300" alt="" class="profile-photo-md" />
                {{ form_widget(formPost.content,{ 'attr': {'class': 'form-control','placeholder':'Напишите, что пожелаете'} }) }}
            </div>
        </div>
        <div class="col-md-5 col-sm-5">
            <div class="tools">
                <ul class="publishing-tools list-inline">
                    <li>
                        {{ form_widget(formPost.thumbsFile,{ 'attr': {'class': 'form-control'} }) }}
                    </li>
                </ul>
                {{ form_widget(formPost.save,{ 'attr': {'class': 'btn btn-primary pull-right'} }) }}
            </div>
        </div>
        {{ form_end(formPost) }}
    </div>
</div><!-- Post Create Box End-->