{% for post in listPost %}
<div class="post-content">
    <img src="{{ vich_uploader_asset(post, 'thumbsFile') }}" alt="post-image" class="img-responsive post-image" />
    <div class="post-container">
        <img src="{{ vich_uploader_asset(post.author, 'avatarFile') }}" alt="user" class="profile-photo-md pull-left" />
        <div class="post-detail">
            <div class="user-info">
                <h5><a href="#" class="profile-link">{{ post.author.username }}</a>
                    {% if post.author.friendsWithMe.contains(app.user) %}
                        <span class="following">Друг</span>
                    {% endif %}
                </h5>
                <p class="text-muted">{{ post.datetime.format("d-m-Y H:i:s") }}</p>
            </div>
            <div class="reaction">
                {% if post.like.contains(app.user) %}
                    <a class="btn text-primary remove_like" data-post-id="{{ post.id }}">
                        <i class="icon ion-thumbsup"></i>
                        <span class="count-like">{{ post.like.count }}</span>
                    </a>
                {% else %}
                    <a class="btn text-green add_like" data-post-id="{{ post.id }}">
                        <i class="icon ion-thumbsup"></i>
                        <span class="count-like">{{ post.like.count }}</span>
                    </a>
                {% endif %}

                {#<a class="btn text-red"><i class="fa fa-thumbs-down"></i> 0</a>#}
            </div>
            <div class="line-divider"></div>
            <div class="post-text">
                <p>{{ post.content }}<i class="em em-anguished"></i> <i class="em em-anguished"></i> <i class="em em-anguished"></i></p>
            </div>
            <div class="line-divider"></div>
            {#<div class="post-comment">#}
            {#<img src="http://placehold.it/300x300" alt="" class="profile-photo-sm" />#}
            {#<p><a href="timeline.html" class="profile-link">John</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>#}
            {#</div>#}
            {#<div class="post-comment">#}
            {#<img src="http://placehold.it/300x300" alt="" class="profile-photo-sm" />#}
            {#<input type="text" class="form-control" placeholder="Post a comment">#}
            {#</div>#}
        </div>
    </div>
</div>
{% else %}
    Пока постов нету !
{% endfor %}