<!-- Newsfeed Common Side Bar Left
                ================================================= -->
<div class="col-md-3 static">
    <div class="suggestions" id="chat-block">
        <div class="profile-card">
            <img src="{{ vich_uploader_asset(app.user, 'avatarFile') }}" alt="user" class="profile-photo" />
            <h5><a href="{{ path('app_account_index') }}" class="text-white">{{ app.user.username }}</a></h5>
            <a href="#" class="text-white">Друзей <i class="ion ion-android-person-add"></i> {{ app.user.myFriends.count }} </a>
        </div><!--profile card ends-->
        <ul class="nav-news-feed">
            <li><i class="icon ion-ios-paper"></i><div><a href="{{ path('app_account_index') }}">Лента</a></div></li>
            <li><i class="icon ion-images"></i><div><a href="{{ path('app_account_photo') }}">Фото</a></div></li>
            <li><i class="icon ion-ios-people-outline"></i><div><a href="{{ path('app_account_friends') }}">Друзья</a></div></li>
            <li><i class="icon ion-ios-people"></i><div><a href="{{ path('app_home_peoples') }}">Люди</a></div></li>
        </ul><!--news-feed links ends-->
    </div>
</div>