<!-- Newsfeed Common Side Bar Right ================================================= -->
<div class="col-md-2 static">
    <div class="suggestions" id="sticky-sidebar">
        <h4 class="grey">Люди </h4>
        {% for people in peoples_sitebar %}
        <div class="follow-user">
            <img src="{{ vich_uploader_asset(people, 'avatarFile') }}" alt="" class="profile-photo-sm pull-left" />

            <h5><a href="#">{{ people.username }}</a></h5>
            <div class="block-friend">
                {% if people.friendsWithMe.contains(app.user) %}
                    <button class="btn btn-danger remove_friend" data-user-id="{{ people.id }}">из друзей</button>
                {% else %}
                    <button class="btn btn-primary add_friend" data-user-id="{{ people.id }}">В друзья</button>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>