<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="robots" content="index, follow" />
        <title>

            {% block title %}
                Instagram!
            {% endblock %}

        </title>
        <!-- Stylesheets
        ================================================= -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/ionicons.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}" />

        <!--Google Font-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">

        <!--Favicon-->
        <link rel="shortcut icon" type="image/png" href="{{ asset('assets/images/36b3ee2d91ed.ico') }}"/>
        <style>
            .reg-form-container {
                min-height: 370px;
            }
            #lp-register {
                background: linear-gradient(to right, rgba(0,0,0, 0.7) , rgba(0,0,0, 0.7)), url({{ asset('assets/images/1-21.jpg') }}) fixed no-repeat;
                background-size: 100%;
            }
            #lp-register ul.social-icons {
                margin-bottom: 150px;
            }
            .form-group {
                margin-bottom: 15px !important;
            }
            #page-contents {
                padding: 50px 0 50px;
            }
            .spinner {
                background: url("/assets/images/5a535cb0ee07f160d5a2134f.png");
                background-size: 100%;
            }
            .menu {
                background: #1c4666;
            }
            .timeline-cover .timeline-nav-bar {
                background: rgb(28, 70, 102);
            }
            .suggestions{
                margin-top: 15px;
            }
            #chat-block {
                margin: 15px 0 40px 0;
            }
            .copyright {
                background: #1c4666;
            }
            .follow-user h5 {
                padding-left: 50px;
            }
            .edit-profile-container {
                margin-top: 40px;
            }
            .timeline-cover {
                background: url(/assets/images/1-21.jpg) no-repeat;
            }
            .profile-card {
                background: linear-gradient(to bottom, rgba(39,170,225,.8), rgba(28,117,188,.8)), url(/assets/images/1-21.jpg) no-repeat;
            }

            .add_like, .remove_like{
                font-size: 22px;
            }
        </style>

        {% block stylesheets %}{% endblock %}

    </head>
    <body>

        {% block header %}{% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}{% endblock %}


        <div id="spinner-wrapper" >
            <div class="spinner"></div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.sticky-kit.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.scrollbar.min.js') }}"></script>
            <script src="{{ asset('assets/js/script.js') }}"></script>
        {% endblock %}

    </body>
</html>
