{% extends 'base.html.twig' %}

{% block header %}

    <header id="header">
        <nav class="navbar navbar-default navbar-fixed-top menu">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('app_home_index') }}"><img src="{{ asset('assets/images/logo.png') }}" alt="logo" /></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right main-menu">
                        <li class="dropdown"><a href="{{ path('app_home_index') }}">Лента</a></li>
                        <li class="dropdown"><a href="{{ path('app_account_edit') }}">Мой профиль</a></li>
                        <li class="dropdown"><a href="{{ path('fos_user_security_logout') }}">Выход</a></li>
                    </ul>
                    <form class="navbar-form navbar-right hidden-sm">
                        <div class="form-group">
                            <i class="icon ion-android-search"></i>
                            <input type="text" class="form-control" placeholder="поиск людей">
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>

{% endblock %}

{% block body %}
    <div id="page-contents">
        <div class="container">
            <div class="row">

                {% block sideBarLeft %}
                    {{ include('@App/components/sideBarLeft.html.twig') }}
                {% endblock %}

                {% block content %}{% endblock %}

                {% block sideBarRight %}
                    {{ include('@App/components/sideBarRight.html.twig') }}
                {% endblock %}

            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer id="footer">
        <div class="copyright">
            <p>Prototype instagram © 2018. </p>
        </div>
    </footer>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            $(document).on('click', '.add_friend', function (e) {

                e.preventDefault();
                var $btr = $(this);
                var user_id = $(this).data("user-id");
                $btr.attr("disabled");

                post("{{ path('app_account_addfriend') }}", {"user_id":user_id}, function (response) {

                    if (response.success) {
                        $btr
                            .removeClass("btn-primary")
                            .removeClass("add_friend")
                            .addClass("remove_friend")
                            .addClass("btn-danger")
                            .text("из друзей");

                        $btr.removeAttr("disabled");
                    }
                });

            });

            $(document).on('click', '.remove_friend', function (e) {

                e.preventDefault();
                var user_id = $(this).data("user-id");
                var $btr = $(this);
                var myFriend = $(this).data("user-friend");
                $btr.attr("disabled");

                post("{{ path('app_account_removefriend') }}", {"user_id":user_id}, function (response) {

                    if (response.success) {
                        if (myFriend == '1') {
                            $(".block-my-driend-"+user_id).remove();
                            return;
                        }else{
                            $btr
                                .removeClass("btn-danger")
                                .removeClass("remove_friend")
                                .addClass("add_friend")
                                .addClass("btn-primary")
                                .text("В друзья");

                            $btr.removeAttr("disabled");
                        }


                    }
                });

            });

            $(document).on('click', '.add_like', function (e) {
                e.preventDefault();
                var $btr = $(this);
                var post_id = $(this).data("post-id");
                $btr.attr("disabled");
                post("{{ path('app_account_addpostlike') }}", {"post_id":post_id}, function (response) {

                    if (response.success) {
                        $btr
                            .removeClass("text-green")
                            .removeClass("add_like")
                            .addClass("remove_like")
                            .addClass("text-primary");

                        $btr.find(".count-like").html(response.countLike);

                        $btr.removeAttr("disabled");
                    }
                });
            });

            $(document).on('click', '.remove_like', function (e) {
                e.preventDefault();
                var $btr = $(this);
                var post_id = $(this).data("post-id");
                $btr.attr("disabled");
                post("{{ path('app_account_removelike') }}", {"post_id":post_id}, function (response) {

                    if (response.success) {
                        $btr
                            .removeClass("text-primary")
                            .removeClass("remove_like")
                            .addClass("add_like")
                            .addClass("text-green");

                        $btr.find(".count-like").html(response.countLike);

                        $btr.removeAttr("disabled");
                    }
                });
            });

            function post(url, parameter, action) {
                $.post(url, parameter, action)
            }

        });
    </script>

{% endblock %}