{% extends 'site.html.twig' %}

{% block stylesheets %}
    <style>
        #page-contents {
            padding: 0px 0 50px;
        }
    </style>
{% endblock %}

{% block sideBarLeft %}{% endblock %}

{% block content %}

    <div class="container">
        <div class="timeline">

            {{ include('@App/components/account/accountHeader.html.twig') }}

            <div id="page-contents">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-7">

                        <div class="edit-profile-container">
                            <div class="block-title">
                                <h4 class="grey"><i class="icon ion-android-checkmark-circle"></i>Настройка аккаунта</h4>
                                <div class="line"></div>
                            </div>
                            <div class="edit-block">
                                <form name="basic-info" id="basic-info" class="form-inline">
                                    <div class="row">
                                        <div class="form-group col-xs-6">
                                            <label for="firstname">First name</label>
                                            <input id="firstname" class="form-control input-group-lg" type="text" name="firstname" title="Enter first name" placeholder="First name" value="John" />
                                        </div>
                                        <div class="form-group col-xs-6">
                                            <label for="lastname" class="">Last name</label>
                                            <input id="lastname" class="form-control input-group-lg" type="text" name="lastname" title="Enter last name" placeholder="Last name" value="Doe" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-xs-12">
                                            <label for="email">My email</label>
                                            <input id="email" class="form-control input-group-lg" type="text" name="Email" title="Enter Email" placeholder="My Email" value="razor.venon@gmail.com" />
                                        </div>
                                    </div>
                                    <button class="btn btn-primary">Save Changes</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block sideBarRight %}{% endblock %}