{% extends 'site.html.twig' %}

{% block content %}

    <div class="col-md-7">

        {{ include('@App/components/home/createPostBlokc.html.twig') }}

        <div class="friend-list">
            <div class="row">
                {% for myFriend in myFriends %}
                <div class="col-md-6 col-sm-6 block-my-driend-{{ myFriend.id }}">
                    <div class="friend-card">
                        <img src="{{ asset('assets/images/1-21.jpg') }}" alt="profile-cover" class="img-responsive cover" />
                        <div class="card-info">
                            <img src="{{ vich_uploader_asset(myFriend, 'avatarFile') }}" alt="user" class="profile-photo-lg" />
                            <div class="friend-info">
                                <a href="#" class="pull-right text-green">Мой друг</a>
                                <h5><a href="timeline.html" class="profile-link">{{ myFriend.username }}</a></h5>
                                <button class="btn btn-danger remove_friend" data-user-id="{{ myFriend.id }}" data-user-friend="1">из друзей</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}