{% extends 'site.html.twig' %}

{% block stylesheets %}
    <style>
        #page-contents {
            padding: 0px 0 50px;
        }
    </style>
{% endblock %}

{% block sideBarLeft %}{% endblock %}

{% block content %}

    <div class="timeline">

        {{ include('@App/components/account/accountHeader.html.twig') }}

        <div id="page-contents">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7">

                    {{ include('@App/components/home/createPostBlokc.html.twig') }}
                    {{ include('@App/components/postContent.html.twig',listPost) }}

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block sideBarRight %}{% endblock %}