{% extends 'site.html.twig' %}

{% block stylesheets %}
    <style>
        #page-contents {
            padding: 0px 0 50px;
        }
    </style>
{% endblock %}

{% block sideBarLeft %}{% endblock %}

{% block content %}

    <div class="timeline">

        {{ include('@App/components/account/accountHeader.html.twig') }}

        <div id="page-contents">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-7">
                    <ul class="album-photos">
                        <li>
                            <div class="img-wrapper" data-toggle="modal" data-target=".photo-1">
                                <img src="http://placehold.it/1000x1000" alt="photo" />
                            </div>
                            <div class="modal fade photo-1" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="http://placehold.it/1000x1000" alt="photo" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-wrapper" data-toggle="modal" data-target=".photo-2">
                                <img src="http://placehold.it/1000x1000" alt="photo" />
                            </div>
                            <div class="modal fade photo-2" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="http://placehold.it/1000x1000" alt="photo" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-wrapper" data-toggle="modal" data-target=".photo-3">
                                <img src="http://placehold.it/1000x1000" alt="photo" />
                            </div>
                            <div class="modal fade photo-3" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="http://placehold.it/1000x1000" alt="photo" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-wrapper" data-toggle="modal" data-target=".photo-4">
                                <img src="http://placehold.it/1000x1000" alt="photo" />
                            </div>
                            <div class="modal fade photo-4" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="http://placehold.it/1000x1000" alt="photo" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-wrapper" data-toggle="modal" data-target=".photo-5">
                                <img src="http://placehold.it/1000x1000" alt="photo" />
                            </div>
                            <div class="modal fade photo-5" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="http://placehold.it/1000x1000" alt="" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-wrapper" data-toggle="modal" data-target=".photo-6">
                                <img src="http://placehold.it/1000x1000" alt="photo" />
                            </div>
                            <div class="modal fade photo-6" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="http://placehold.it/1000x1000" alt="" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-wrapper" data-toggle="modal" data-target=".photo-7">
                                <img src="http://placehold.it/1000x1000" alt="photo" />
                            </div>
                            <div class="modal fade photo-7" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="http://placehold.it/1000x1000" alt="" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-wrapper" data-toggle="modal" data-target=".photo-8">
                                <img src="http://placehold.it/1000x1000" alt="photo" />
                            </div>
                            <div class="modal fade photo-8" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="http://placehold.it/1000x1000" alt="" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-wrapper" data-toggle="modal" data-target=".photo-9">
                                <img src="http://placehold.it/1000x1000" alt="photo" />
                            </div>
                            <div class="modal fade photo-9" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="http://placehold.it/1000x1000" alt="" />
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block sideBarRight %}{% endblock %}
