{% extends 'site.html.twig' %}

{% block content %}

    <div class="col-md-7">

        {{ include('@App/components/home/createPostBlokc.html.twig') }}
        {{ include('@App/components/postContent.html.twig',listPost) }}

    </div>

{% endblock %}