{% extends 'site.html.twig' %}

{% block content %}

    <div class="col-md-7">

        {{ include('@App/components/home/createPostBlokc.html.twig') }}

        {% for people in peoples %}

        <div class="people-nearby">
            <div class="nearby-user">
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <img src="{{ vich_uploader_asset(people, 'avatarFile') }}" alt="user" class="profile-photo-lg" />
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <h5><a href="#" class="profile-link">{{ people.username }}</a></h5>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="block-friend">
                            {% if people.friendsWithMe.contains(app.user) %}
                                <button class="btn btn-danger pull-right remove_friend" data-user-id="{{ people.id }}">из друзей</button>
                            {% else %}
                                <button class="btn btn-primary pull-right add_friend" data-user-id="{{ people.id }}">В друзья</button>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>

{% endblock %}