{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="col-sm-6 col-sm-offset-1">
        <div class="reg-form-container">

            <!-- Register/Login Tabs-->
            <div class="reg-options">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="{{ path('fos_user_registration_register') }}">Регистрация</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}">Вход</a></li>
                </ul><!--Tabs End-->
            </div>

            <!--Registration Form Contents-->
            <div class="tab-content">
                <div class="tab-pane active" id="register">
                    <h3>{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</h3>
                    <p class="text-muted">Будьте здоровы и присоединяйтесь сегодня. Знакомьтесь!</p>

                    {% if form_errors(form) %}
                        <div class="alert alert-danger">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}

                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-inline'}}) }}
                        <div class="row">
                            <div class="form-group col-xs-6">
                                {{ form_widget(form.email,{ 'attr': {'class': 'form-control input-group-lg','placeholder':'E-mail адрес'} }) }}
                            </div>
                            <div class="form-group col-xs-6">
                                {{ form_widget(form.username,{ 'attr': {'class': 'form-control input-group-lg','placeholder':'Логин для входа'} }) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-6">
                                {{ form_widget(form.plainPassword.first,{ 'attr': {'class': 'form-control input-group-lg','placeholder':'Пароль'} }) }}
                            </div>
                            <div class="form-group col-xs-6">
                                {{ form_widget(form.plainPassword.second,{ 'attr': {'class': 'form-control input-group-lg','placeholder':'Пароль ещё раз'} }) }}
                            </div>
                            <div class="form-group col-xs-12">
                                {{ form_widget(form.avatarFile,{ 'attr': {'class': 'form-control input-group-lg'} }) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                {{ form_widget(form._token) }}
                                <div>
                                    <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-primary"/>
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div><!--Registration Form Contents Ends-->
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
