<div class="timeline-cover">
    <!--Timeline Menu for Large Screens-->
    <div class="timeline-nav-bar hidden-sm hidden-xs">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-info">
                    <img src="{{ vich_uploader_asset(app.user, 'avatarFile') }}" alt="" class="img-responsive profile-photo" />
                    <h3>{{ app.user.username }}</h3>
                </div>
            </div>
            <div class="col-md-9">
                <ul class="list-inline profile-menu">
                    {{ include('@App/components/account/listMenus.html.twig') }}
                </ul>
                <ul class="follow-me list-inline">
                    <li> друзей {{ app.user.myFriends.count }} </li>
                </ul>
            </div>
        </div>
    </div><!--Timeline Menu for Large Screens End-->

    <!--Timeline Menu for Small Screens-->
    <div class="navbar-mobile hidden-lg hidden-md">
        <div class="profile-info">
            <img src="http://placehold.it/300x300" alt="" class="img-responsive profile-photo" />
            <h4>Sarah Cruiz</h4>
            <p class="text-muted">Creative Director</p>
        </div>
        <div class="mobile-menu">
            <ul class="list-inline">
                {{ include('@App/components/account/listMenus.html.twig') }}
            </ul>
            <button class="btn-primary">Добавить в друзья</button>
        </div>
    </div><!--Timeline Menu for Small Screens End-->
</div>