{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}{% trans_default_domain 'FOSUserBundle' %}
    <div class="col-sm-6 col-sm-offset-1">
        <div class="reg-form-container">

            <!-- Register/Login Tabs-->
            <div class="reg-options">
                <ul class="nav nav-tabs">
                    <li><a href="{{ path('fos_user_registration_register') }}">Регистрация</a></li>
                    <li class="active"><a href="{{ path('fos_user_security_login') }}">Вход</a></li>
                </ul><!--Tabs End-->
            </div>

            <!--Registration Form Contents-->
            <div class="tab-content">
                <!--Login-->
                <div class="tab-pane active">
                    <h3>Вход</h3>
                    <p class="text-muted">Войдите в свой аккаунт</p>

                    {% if error %}
                        <div class="alert alert-danger" role="alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                    <!--Login Form-->
                    <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label for="username" class="sr-only">{{ 'security.login.username'|trans }}</label>
                                <input type="text" class="form-control input-group-lg" id="username" name="_username" value="{{ last_username }}" required="required"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <label for="password" class="sr-only">{{ 'security.login.password'|trans }}</label>
                                <input type="password" class="form-control input-group-lg" id="password" name="_password" required="required"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <div class="checkbox">
                                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <p><a href="{{ path('fos_user_resetting_request') }}">Забыли пароль?</a></p>
                                <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                            </div>
                        </div>
                    </form><!--Login Form Ends-->

                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
