{% extends 'base.html.twig' %}
{% block header %}
    <!-- Header
            ================================================= -->
    <header id="header-inverse">
        <nav class="navbar navbar-default navbar-fixed-top menu">
            <div class="container">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('fos_user_security_login') }}"><img src="{{ asset('assets/images/logo.png') }}" alt="logo" /></a>
                </div>
            </div><!-- /.container -->
        </nav>
    </header>
{% endblock %}
{% block body %}

    <div id="lp-register">
        <div class="container wrapper">
            <div class="row">
                <div class="col-sm-5">
                    <div class="intro-texts">
                        <h1 class="text-white">Добро пожаловать !!!</h1>
                        <p>Узнайте, что происходит в мире прямо сейчас . Присоединяйтесь к Инстаграму прямо сейчас!</p>
                        <button class="btn btn-primary">Подробнее.</button>
                    </div>
                </div>
                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="flash-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-6">
                    <!--Social Icons-->
                    <ul class="list-inline social-icons">
                        <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
                        <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}